{% extends 'base/main.html' %} {% block content %}

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<div class="header-bar">
    <div>
        <h1>Hello {{request.user|title}}</h1>
        <h3 style="margin:0">You have <i>{{count3}}</i> book{{ count3|pluralize:"s" }} in collection!</h3>
        <h3 style="margin:0">You have <i>{{count1}}</i> incomplete book{{ count1|pluralize:"s" }}</h3>
        <h3 style="margin:0">You have <i>{{count2}}</i> borrowed book{{ count2|pluralize:"s" }}</h3>
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a> {% else %}
    <a href="{% url 'login' %}">Login</a> {% endif %}
</div>


<div id="search-add-wrapper">
    <form method="GET" style="display: flex;">
        <input type='text' name='search-area' placeholder="Search your book" value="{{search_input}}">
        <input class="button" type="submit" value='Search'>
    </form>
    {% if books|length > 0 %}
    <a id="add-link" href="{% url 'book-create' %}">&#x2b;</a>
    {% endif %}
</div>


<!-- Hidden form. Form submits new item positions -->
<form style="display: none;" id="reorderForm" method="post" action="{% url 'book-reorder' %}">
    {% csrf_token %}
    <input type="hidden" id="positionInput" name="position">
</form>


<div id="booklist" class="book-items-wrapper">
    {% for book in books %}
    <div class="book-wrapper" data-position="{{book.pk}}">
        <div class="book-title">
            {% if book.complete %}
            <div class="book-complete-icon"></div>
            <i><a href="{% url 'book-update' book.id %}">{{book.author}}</a></i>
            <div class="book-complete-icon2"></div>
            <i><a href="{% url 'book-update' book.id %}">{{book}}</a></i> {% else %}
            <div class="book-incomplete-icon"></div>
            <a href="{% url 'book-update' book.id %}">{{book.author}}</a>
            <div class="book-incomplete-icon2"></div>
            <a href="{% url 'book-update' book.id %}">{{book}}</a> {% endif %}
        </div>
        <div class="book-controls">
            <a class="delete-link" href="{% url 'book-delete' book.id %}">&#215;</a>
            <span class="handle">&nbsp;&#10247;</span>
        </div>
    </div>

    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h3>No new books are created.</h3>
        <h3>Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'book-create' %}">New book</a> ! </h3>
    </div>
    {% endfor %}
</div>

<script>
    var bookList = document.getElementById("booklist");
    var reorderForm = document.getElementById("reorderForm");
    var positionInput = document.getElementById("positionInput");

    let sortable = Sortable.create(bookList, {
        handle: '.handle',
        ghostClass: 'dropArea',
        chosenClass: 'selectedbook',

    });

    function reordering() {
        const rows = document.getElementsByClassName("book-wrapper");
        let pos = [];
        for (let row of rows) {
            pos.push(row.dataset.position);
        }
        console.log(pos.join(","))
        positionInput.value = pos.join(',');
        reorderForm.submit();
    }

    document.ondrop = reordering
</script>

{% endblock content %}